.container-form{
    /* margin-top: 40rem; */
    width: 700px;
    padding: 25px 40px 10px 40px;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #bbb9b9;
    border-radius: 10px;
    /* border: solid black; */
}
.Form{
    display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
}
.Uostitle{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 42px;

}

.clearenceproformaname{
    display: flex;
    justify-content: center;
    /* padding-bottom: 10px; */
}
.studentsignature{
    display: flex;
    justify-content: right;

}
.formlogo{
    margin-top: 10px;
    height: 110px;
    width: 110px;
}
.btnpcprotion{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.btnprintcertificate{
    border-radius: 20px;
    /* margin: 10px; */
    /* float: right; */
    width: 250px;

}
@media screen and (max-width: 800px) {
    .container-form{
        width: 500px;
        /* margin-top: 40rem ; */
        /* margin-right: 20px; */
    } 
    .Uostitle{
        font-size: 40px;
    } 
    .clearenceproformaname{
     
        margin-left: 27px;
    } 
}
@media screen and (max-width: 500px) {
    .container-form{
        width: 370px;
       
        }   
    .Uostitle{
        display: flex;
        justify-content: right;
        font-size: 18px;
        margin-left: 50px;

    }
    .formlogo{
        margin-left: 95px;
    }
    .clearenceproformaname{
       
        margin: 0%!important;
        /* border: black solid; */
        font-size: 15px ;
    }
}
