.Homepagediv{
    text-align: center;
    min-height: 100vh;
    margin-top: 80px; 
}
.wellcomcshomepage .uostextcshomepage{
font-style: normal;
}
.depttofcstext{
    font-size: 30px;
    color: rgb(97, 141, 54);
}
